#flow-sheet{
    background: hsl(0,0%,80%);
}
/*apply shadow*/
.shadow{   
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.16), 2px 2px 2px 2px rgba(0,0,0,0.23);
}

.main#flow-sheet {
    margin-left: 200px;
    height:100%;
}

#flow-sheet .header{
    background: hsl(0,0%,85%);
    height:60px;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
}
#flow-sheet .header-card{
    display: inline-block;
    height:50px;
    background-color: hsl(0,0%,95%);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5px 0 5px;
    padding: 5px;
}
#flow-sheet .headerSpacer{
    box-shadow:0;
}
#flow-sheet .content{
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 5px;
}

#flow-sheet .content,#flow-sheet .footBar{
    transition: all 0.2s;
}

#flow-sheet .tpr{
    background-color: hsl(0,0%,85%);
    width: 98%;
    margin:auto;
}

#flow-sheet .tpr table{
    width:100%;
    border-spacing: 2px;
    border-collapse: separate;
}

#flow-sheet .tpr table th{
    background-color: hsl(50,40%,50%);
    height: 20px;
}
#flow-sheet .tpr table th:first-child{
    background-color: hsl(50,40%,50%);
    height: 20px;
    width: 100px;
}
#flow-sheet .tpr table td{
    background-color: hsl(20,40%,50%);
    height: 20px;
}

#flow-sheet .footBar{
    background-color: hsl(0,0%,85%);
    overflow: hidden;
}
#flow-sheet .footBarCard{
    float:left;
    margin: 10px 10px 10px 10px;
    height: 280px;
    width: 400px;
    background-color: steelblue;
}
