#flow-sheet{
    background: hsl(0,0%,80%);
}
/*apply shadow*/
.shadow{   
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.05), 1px 1px 1px 1px rgba(0,0,0,0.16);
}

.main#flow-sheet {
    margin-left: 200px;
    height:100%;
}

#flow-sheet .header{
    background: hsl(0,0%,85%);
    height:60px;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
}
#flow-sheet .header-card{
    display: inline-block;
    height:50px;
    background-color: hsl(0,0%,95%);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5px 0 5px;
    padding: 5px;
}
#flow-sheet .headerSpacer{
    box-shadow:0;
}
#flow-sheet .content{
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 5px;
}

#flow-sheet .content,#flow-sheet .footbar{
    transition: all 0.3s ease;
}

#flow-sheet .tpr{
    background-color: hsl(0,0%,85%);
    width: 98%;
    margin:auto;
}

#flow-sheet .tpr table{
    width:100%;
    border-spacing: 2px;
    border-collapse: separate;
}

#flow-sheet .tpr table th{
    background-color: hsl(50,40%,70%);
    height: 20px;
}
#flow-sheet .tpr table th:first-child{
    background-color: hsl(50,40%,70%);
    height: 20px;
    width: 120px;
}
#flow-sheet .tpr table td{
    background-color: hsl(20,40%,70%);
    height: 20px;
}

#flow-sheet .footbar{
    background-color: hsl(0,0%,85%);
    overflow: hidden;
}
#flow-sheet .footbarMenu{
    height: 40px;
    width: 100%;
    background-color: hsl(120, 10%,80%)
}

#flow-sheet .footbar-button{
    background-color: hsl(200,20%,60%);
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    height:40px;

}
#flow-sheet .footbar-button>div.out{
    height: 100%;
}
#flow-sheet .footbar-button>div.out>div.in{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#flow-sheet .button{
    float: right;
    width:40px;
    height:40px;
}
#flow-sheet .button.min{
    background-color: hsl(100,20%,60%);
}
#flow-sheet .button.max{
    background-color: hsl(200,20%,60%);
}
#flow-sheet .button.close{
    background-color: hsl(0,20%,60%);
}
#flow-sheet .footbar-function{
    height: 100%;
    width: 100%;
}

#flow-sheet .footbar-function#fn1{
    background-color:  hsl(50, 30%,80%);
}

#flow-sheet .footbar-function#fn2{
    background-color:  hsl(70, 30%,80%);
}

#flow-sheet .footbar-function#fn3{
    background-color:  hsl(90, 30%,80%);
}
