#flow-sheet{
    background: hsl(0,0%,80%);
}

#flow-sheet {
    height:100%;
}

#flow-sheet #content, #flow-sheet #footbar, #flow-sheet .footbar-sub, .footbar-sub-inner{
    transition: all 0.3s ease;
}


#flow-sheet #header{
    background: hsl(0,0%,85%);
    height:80px;
    padding-top:5px;
    padding-bottom:5px;
}

#flow-sheet .header-card{
    height:70px;
    background-color: hsl(0,0%,95%);
    margin: 0 3px 0 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}

#flow-sheet #content{
    padding-top: 10px;
    padding-bottom: 5px;
}

#flow-sheet .chart{
    width: 97%;
    margin-left:1%;
    border-radius: 10px;
}
#flow-sheet .chart table{
    width:100.2%;
    padding-top:1px;
    padding-bottom:1px;
    border-spacing: 3.5px;
    border-collapse: separate;
    empty-cells: show;
    table-layout:fixed
}
#flow-sheet .chart table:first-child{
    padding-top:3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#flow-sheet .chart table:last-child{
    padding-bottom:3px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#flow-sheet .chart table td{
    vertical-align: middle;
    text-align: center;
    font-size: 12px;
    height: 22px;
    overflow: hidden;
}
#flow-sheet .chart table td:first-child{
    width: 150px;
    text-align: left;
    padding-left: 0.5%;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#flow-sheet .chart table td.spacer{
    height: 0px;
}

/*sets of chart color*/
#flow-sheet .chart table.tpr{
    background-color: hsl(120,25%,60%);
}
#flow-sheet .chart table.tpr .shift-name{
    background-color: hsl(120,25%,75%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width:auto;
}
#flow-sheet .chart table.tpr .shift-name,
#flow-sheet .chart table.tpr td:nth-child(8n+2),
#flow-sheet .chart table.tpr td:first-child{
    border-left:2.5px solid hsl(120,25%,60%);
}
#flow-sheet .chart table.tpr td:last-child{
    border-right:2.5px solid hsl(120,25%,60%);
}
#flow-sheet .chart table.tpr .title-color{
    background-color: hsl(120,25%,75%);
}
#flow-sheet .chart table.tpr .header-color{
    background-color: hsl(120,25%,75%);
}
#flow-sheet .chart table.tpr .data-color{
    background-color: hsl(120,25%,85%);
}
#flow-sheet .chart table.tpr .no-data-color{
    background-color: hsl(120,25%,65%)
}
#flow-sheet .chart table.tpr .title{
    font-size: 14px;
    font-weight: 800;
}
#flow-sheet .chart table.tpr .unit{
    font-size: 10px;
    color: hsl(0,0%,40%);
}
#flow-sheet .chart table.tpr .limit{
    font-size: 10px;
    color: hsl(120,40%,30%)
}
/*sets of chart color*/
#flow-sheet .chart table.infusion{
    background-color: hsl(200,30%,60%);
}
#flow-sheet .chart table.infusion td:first-child,
#flow-sheet .chart table.infusion td:nth-child(8n+2){
    border-left:2.5px solid hsl(200,30%,60%);
}
#flow-sheet .chart table.infusion td:last-child{
    border-right:2.5px solid hsl(200,30%,60%);
}
#flow-sheet .chart table.infusion .title-color{
    background-color: hsl(200,30%,75%);
}
#flow-sheet .chart table.infusion .header-color{
    background-color: hsl(200,30%,75%);
}
#flow-sheet .chart table.infusion .data-color{
    background-color: hsl(200,30%,85%);
}
#flow-sheet .chart table.infusion .no-data-color{
    background-color: hsl(200,30%,65%)
}
#flow-sheet .chart table.infusion .route{
    font-size: 14px;
    font-weight: 800;
}
#flow-sheet .chart table.infusion .unit{
    font-size: 10px;
    color: hsl(0,0%,40%);
}
#flow-sheet .chart table.infusion .name{
    font-size: 14px;
    color: hsl(200,40%,30%)
}



#flow-sheet #footbar{
    background-color: hsl(0,0%,85%);
}
#flow-sheet #footbarMenu{
    height: 40px;
    background-color: hsl(120, 10%,80%)
}

#flow-sheet .footbar-fn-button{
    background-color: hsl(200,20%,60%);
    transition: 0.3s background-color;
}
#flow-sheet .footbar-fn-button:hover{
    background-color: hsl(200,20%,80%);
}

#flow-sheet #footbar-toggle-buttons{
    width: 120px;
}
#flow-sheet #footbar-toggle-buttons #min{
    background-color: hsl(100,20%,60%);
}
#flow-sheet #footbar-toggle-buttons #max{
    background-color: hsl(200,20%,60%);
}
#flow-sheet #footbar-toggle-buttons #close{
    background-color: hsl(0,20%,60%);
}

#flow-sheet .footbar-function-page{
    padding-top:3px;
    padding-bottom: 3px;
}

.footbar-sub{
    background: hsl(100,30%,80%);
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
#flow-sheet #fnOverview .footbar-sub-inner
{
    background: hsl(100,30%,90%);
}


#flow-sheet #fnOverview .footbar-sub#sub-io
{
    width: 20%;
    font-size: 12px;
}
#flow-sheet #fnOverview .footbar-sub#sub-io .shift
{
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}


#flow-sheet #fnOverview .footbar-sub#sub-ventilation
{
    width:31%;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .gas-card{
    height: 40px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .gasfull-card{
    height: 80px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .vent-card{
    height: 40px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .day-card{
    height: 20px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}

#flow-sheet #fnOverview .footbar-sub#sub-ventilation .upper
{
    padding-top:3px;
    height:10px;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .lower
{
    padding-top:4px;
    height:30px;
}


#flow-sheet #fnOverview .footbar-sub#sub-lab
{
    width:31%;
}
#flow-sheet #fnOverview .footbar-sub#sub-lab .lab-group{
    float: left;
    height: 100%;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-lab .lab-item{
    float: left;
    height: 100%;
}

#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event
{
    width:14%;
}
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #nutrition,
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #event,
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #order,
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event .title{
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #nutrition .date-card,
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #event .date-card{
    padding-top:4px;padding-bottom:1px;
}
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #nutrition .content-card,
#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event #event .content-card{
    padding-bottom:4px;
}