html{
    height:100%;
}
body{
    background: hsl(0,0%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y: scroll;
    font-size:16px;
    height: 100%;
    overflow: hidden;
}
#view{
    width: 100%;
    height: 100%;
}

#left {
	width: 300px;
    float: left;
    background-color: #9DBEA5;
    height:100%;
}
.leftbox{
    padding:10px 5px 10px 5px;
    background-color: hsl(20,40%,85%);
    margin:5px 0 5px 0;
}
.rightbox{
    padding:10px 5px 10px 5px;
    background-color: hsl(200,40%,85%);
    margin:5px 0 5px 0;
}

table#wardList{
    width:100%;
}
#wardList th,#wardList td{
    padding:5px;
    border:1px solid black;
}

table#patientList{
    width:100%;
}
#patientList th,#patientList td{
    padding:5px;
    border:1px solid black;
}

.main {
    margin-left: 200px;
    height:100%;
    overflow-y: scroll;
}

table#admissionList{
    width:100%;
    margin:3px 0 3px 0;
}
#admissionList th,#admissionList td{
    padding:5px;
    border:1px solid black;
}

table#patientData{
    width:100%;
    margin:3px 0 3px 0;
}
#patientData th,#patientData td{
    padding:5px;
    border:1px solid black;
}

table#changebed{
    width:100%;
    margin:3px 0 3px 0;
}
#changebed th,#changebed td{
    padding:5px;
    border:1px solid black;
}

table#changeSection{
    width:100%;
    margin:3px 0 3px 0;
}
#changeSection th,#changeSection td{
    padding:5px;
    border:1px solid black;
}

table#consultation{
    width:100%;
    margin:3px 0 3px 0;
}
#consultation th,#consultation td{
    padding:5px;
    border:1px solid black;
}

table#consultationReply{
    width:100%;
    margin:3px 0 3px 0;
}
#consultationReply th,#consultationReply td{
    padding:5px;
    border:1px solid black;
}

table#consultationPending{
    width:100%;
    margin:3px 0 3px 0;
}
#consultationPending th,#consultationPending td{
    padding:5px;
    border:1px solid black;
}

table#surgery{
    width:100%;
    margin:3px 0 3px 0;
}
#surgery th,#surgery td{
    padding:5px;
    border:1px solid black;
}

table#order{
    width:100%;
    margin:3px 0 3px 0;
}
#order th,#order td{
    padding:5px;
    border:1px solid black;
}

table#report{
    width:100%;
    margin:3px 0 3px 0;
}
#report th,#report td{
    padding:5px;
    border:1px solid black;
}

.cummulativeButton{
    float:left;
    padding:5px;
    margin:3px;
    background: hsl(300,40%,85%);
}

table#cummulative{
    width:100%;
    margin:3px 0 3px 0;
    font-size:0.3em;
}
#cummulative th,#cummulative td{
    padding:5px;
    border:1px solid black;
}




