#flow-sheet{
    background: hsl(0,0%,80%);
}

#flow-sheet {
    height:100%;
}

#flow-sheet #content, #flow-sheet #footbar, #flow-sheet .footbar-sub, .footbar-sub-inner{
    transition: all 0.3s ease;
}


#flow-sheet #header{
    background: hsl(0,0%,85%);
    height:80px;
    padding-top:5px;
    padding-bottom:5px;
}

#flow-sheet .header-card{
    height:70px;
    background-color: hsl(0,0%,95%);
    margin: 0 3px 0 3px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#flow-sheet #content{
    padding-top: 10px;
    padding-bottom: 5px;
}

#flow-sheet .tpr{
    background-color: hsl(0,0%,85%);
    width: 97%;
    margin-left:1%;
}

#flow-sheet .tpr table{
    width:100%;
    border-spacing: 2px;
    border-collapse: separate;
}

#flow-sheet .tpr table th{
    background-color: hsl(50,40%,70%);
    height: 20px;
}
#flow-sheet .tpr table th:first-child{
    background-color: hsl(50,40%,70%);
    height: 20px;
    width: 120px;
}
#flow-sheet .tpr table td{
    background-color: hsl(20,40%,70%);
    height: 20px;
}

#flow-sheet #footbar{
    background-color: hsl(0,0%,85%);
}
#flow-sheet #footbarMenu{
    height: 40px;
    background-color: hsl(120, 10%,80%)
}

#flow-sheet .footbar-fn-button{
    background-color: hsl(200,20%,60%);
    transition: 0.3s background-color;
}
#flow-sheet .footbar-fn-button:hover{
    background-color: hsl(200,20%,80%);
}

#flow-sheet #footbar-toggle-buttons{
    width: 120px;
}
#flow-sheet #footbar-toggle-buttons #min{
    background-color: hsl(100,20%,60%);
}
#flow-sheet #footbar-toggle-buttons #max{
    background-color: hsl(200,20%,60%);
}
#flow-sheet #footbar-toggle-buttons #close{
    background-color: hsl(0,20%,60%);
}

#flow-sheet .footbar-function-page{
    padding-top:3px;
    padding-bottom: 3px;
}

.footbar-sub{
    background: hsl(100,30%,80%);
    padding-left: 0.5%;
    padding-right: 0.5%;
    padding-top:0.5%;
    padding-bottom:0.5%;
}
#flow-sheet #fnOverview .footbar-sub-inner
{
    background: hsl(100,30%,90%);
}


#flow-sheet #fnOverview .footbar-sub#sub-io
{
    width: 20%;
    font-size: 12px;
}
#flow-sheet #fnOverview .footbar-sub#sub-io .shift
{
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}


#flow-sheet #fnOverview .footbar-sub#sub-ventilation
{
    width:31%;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .gas-card{
    height: 40px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .gasfull-card{
    height: 80px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .vent-card{
    height: 40px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .day-card{
    height: 20px;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}

#flow-sheet #fnOverview .footbar-sub#sub-ventilation .upper
{
    padding-top:3px;
    height:10px;
}
#flow-sheet #fnOverview .footbar-sub#sub-ventilation .lower
{
    padding-top:4px;
    height:30px;
}


#flow-sheet #fnOverview .footbar-sub#sub-lab
{
    width:31%;
}
#flow-sheet #fnOverview .footbar-sub#sub-lab .lab-group{
    float: left;
    height: 100%;
    -webkit-box-shadow:inset 0px 0px 0px 0.5px grey;
    -moz-box-shadow:inset 0px 0px 0px 0.5px grey;
    box-shadow:inset 0px 0px 0px 0.5px grey;
}
#flow-sheet #fnOverview .footbar-sub#sub-lab .lab-item{
    float: left;
    height: 100%;
    font-size:12px;
}

#flow-sheet #fnOverview .footbar-sub#sub-nutrition-event
{
    width:14%;
}

