html{
    height:100%;
}
body{
    background: hsl(0,0%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y: scroll;
    font-size:16px;
    height: 100%;
    overflow: hidden;
}
#view{
    width: 100%;
    height: 100%;
}

#left {
	width: 200px;
    float: left;
    background-color: #9DBEA5;
    height:100%;
}
.leftbox{
    padding:15px 5px 15px 5px;
    background-color: hsl(20,40%,85%);
    margin:0 0 5px 0;
}

.main {
    margin-left: 200px;
    height:100%;
    overflow-y: scroll;
}

/*dev style*/
.test-button{
    background-color: steelblue;
    padding: 10px;
    border: 1px solid black;
}
#dev #cookie, #dev #content{
    font-size: 0.6rem;
    border: 1px solid black;
    padding: 10px;
    white-space: pre-wrap;      /* CSS3 */     
    word-wrap: break-word;      /* IE */
}