#flow-sheet{
    background: hsl(0,0%,80%);
}
/*apply shadow*/
.shadow{   
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.05), 1px 1px 1px 1px rgba(0,0,0,0.16);
}

.main#flow-sheet {
    margin-left: 200px;
    height:100%;
}

#flow-sheet .header{
    background: hsl(0,0%,85%);
    height:60px;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
}
#flow-sheet .header-card{
    display: inline-block;
    height:50px;
    background-color: hsl(0,0%,95%);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5px 0 5px;
    padding: 5px;
}
#flow-sheet .headerSpacer{
    box-shadow:0;
}
#flow-sheet .content{
    overflow-y: scroll;
    padding-top: 10px;
    padding-bottom: 5px;
}

#flow-sheet .content,#flow-sheet .footBar{
    transition: all 0.4s ease;
}

#flow-sheet .tpr{
    background-color: hsl(0,0%,85%);
    width: 98%;
    margin:auto;
}

#flow-sheet .tpr table{
    width:100%;
    border-spacing: 2px;
    border-collapse: separate;
}

#flow-sheet .tpr table th{
    background-color: hsl(50,40%,70%);
    height: 20px;
}
#flow-sheet .tpr table th:first-child{
    background-color: hsl(50,40%,70%);
    height: 20px;
    width: 120px;
}
#flow-sheet .tpr table td{
    background-color: hsl(20,40%,70%);
    height: 20px;
}

#flow-sheet .footBar{
    background-color: hsl(0,0%,85%);
    overflow: hidden;
}
#flow-sheet .footBarMenu{
    height: 40px;
    width: 100%;
    background-color: hsl(120, 10%,80%)
}
#flow-sheet .closeFootBarButtton{
    background-color: hsl(0,20%,60%);
    float: right;
    width:40px;
    height:40px;
}
#flow-sheet .footBarCard{
    float:left;
    background-color:  hsl(120, 10%,80%);
    border:1px solid black;
    height: 100%;
}
