html{
    height:100%;
    font-size:16px;
}
body{
    background: hsl(0,0%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:16px;
    height: 100%;
    overflow: hidden;
    -ms-overflow-style: none;
    -ms-scroll-limit: 0 0 0 0;
}
.clear{
    clear: both;
}
.float-left{
    float: left;
}
.inline-block{
    display: inline-block;
    vertical-align: bottom;
}
.nowrap{
    white-space: nowrap;
}
.wrap{
    white-space: pre-line
}

/*apply shadow*/
.shadow{   
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.05), 1px 1px 1px 1px rgba(0,0,0,0.16);
}
/* v-align */
.v-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.h-center{
    text-align: center;
}
.h-left{
    text-align: left;
}
.h-right{
    text-align: right;
}

/* word-size */
.xl-word{
    font-size: 24px;    
}
.l-word{
    font-size: 20px;
}
.lm-word{
    font-size: 18px;
}
.m-word{
    font-size: 16px;
}
.ms-word{
    font-size: 14px;
}
.s-word{
    font-size: 12px;
}
.xs-word{
    font-size: 10px;
}
/* weight */
.heavy-weight{
    font-weight: 900;
}
.mid-weight{
    font-weight: 500;
}
.normal-weight{
    font-weight: 400;
}

/* word color */
.grey-20-font{
    color: hsl(0,0%,20%);
}
.grey-40-font{
    color: hsl(0,0%,40%);
}
.grey-60-font{
    color: hsl(0,0%,60%);
}
.red{
    color: hsl(0,90%,35%);
}
.blue{
    color: hsl(220,90%,35%);
}
.red-bg{
    background-color: hsl(0,30%,90%);
}
.blue-bg{
    background-color: hsl(220,40%,90%);
}
/* scroll */
.y-scroll{
    overflow-y: auto;
    overflow-x: hidden;
}


/* grids */
.h1-1{height:100%;}
.h1-2{height:50%;}
.h1-3{height:33.33%;}
.h2-3{height:66.67%;}
.h1-4{height:25%;}
.h2-4{height:50%;}
.h3-4{height:75%;}
.h1-5{height:20%;}
.h2-5{height:40%;}
.h3-5{height:60%;}
.h4-5{height:80%;}
.h1-6{height:16.67%;}
.h2-6{height:33.33%;}
.h3-6{height:50%;}
.h4-6{height:66.67%;}
.h5-6{height:83.33%;}
.h1-7{height:14.29%;}
.h2-7{height:28.57%;}
.h3-7{height:42.86%;}
.h4-7{height:57.14%;}
.h5-7{height:71.43%;}
.h6-7{height:85.71%;}
.h1-8{height:12.5%;}
.h2-8{height:25%;}
.h3-8{height:37.5%;}
.h4-8{height:50%;}
.h5-8{height:62.5%;}
.h6-8{height:75%;}
.h7-8{height:87.5%;}
.h1-9{height:11.11%;}
.h2-9{height:22.22%;}
.h3-9{height:33.33%;}
.h4-9{height:44.44%;}
.h5-9{height:55.56%;}
.h6-9{height:66.67%;}
.h7-9{height:77.78%;}
.h8-9{height:88.89%;}
.h1-10{height:10%;}
.h2-10{height:20%;}
.h3-10{height:30%;}
.h4-10{height:40%;}
.h5-10{height:50%;}
.h6-10{height:60%;}
.h7-10{height:70%;}
.h8-10{height:80%;}
.h9-10{height:90%;}
.h15-31{height:48.39%;}
.h1-31{height:3.23%;}
.h22-45{height:48.89%;}
.h1-45{height:2.22%;}

.w1-1{width:100%;}
.w1-2{width:50%;}
.w1-3{width:33.33%;}
.w2-3{width:66.67%;}
.w1-4{width:25%;}
.w2-4{width:50%;}
.w3-4{width:75%;}
.w1-5{width:20%;}
.w2-5{width:40%;}
.w3-5{width:60%;}
.w4-5{width:80%;}
.w1-6{width:16.67%;}
.w2-6{width:33.33%;}
.w3-6{width:50%;}
.w4-6{width:66.67%;}
.w5-6{width:83.33%;}
.w1-7{width:14.29%;}
.w2-7{width:28.57%;}
.w3-7{width:42.86%;}
.w4-7{width:57.14%;}
.w5-7{width:71.43%;}
.w6-7{width:85.71%;}
.w1-8{width:12.5%;}
.w2-8{width:25%;}
.w3-8{width:37.5%;}
.w4-8{width:50%;}
.w5-8{width:62.5%;}
.w6-8{width:75%;}
.w7-8{width:87.5%;}
.w1-9{width:11.11%;}
.w2-9{width:22.22%;}
.w3-9{width:33.33%;}
.w4-9{width:44.44%;}
.w5-9{width:55.56%;}
.w6-9{width:66.67%;}
.w7-9{width:77.78%;}
.w8-9{width:88.89%;}
.w1-10{width:10%;}
.w2-10{width:20%;}
.w3-10{width:30%;}
.w4-10{width:40%;}
.w5-10{width:50%;}
.w6-10{width:60%;}
.w7-10{width:70%;}
.w8-10{width:80%;}
.w9-10{width:90%;}
.w1-11{width:9.09%;}
.w2-11{width:18.18%;}
.w3-11{width:27.27%;}
.w4-11{width:36.36%;}
.w5-11{width:45.45%;}
.w6-11{width:54.55%;}
.w7-11{width:63.64%;}
.w8-11{width:72.73%;}
.w9-11{width:81.82%;}
.w10-11{width:90.91%;}
.w1-12{width:8.33%;}
.w2-12{width:16.67%;}
.w3-12{width:25%;}
.w4-12{width:33.33%;}
.w5-12{width:41.67%;}
.w6-12{width:50%;}
.w7-12{width:58.33%;}
.w8-12{width:66.67%;}
.w9-12{width:75%;}
.w10-12{width:83.33%;}
.w11-12{width:91.67%;}
.w1-13{width:7.69%;}
.w2-13{width:15.38%;}
.w3-13{width:23.08%;}
.w4-13{width:30.77%;}
.w5-13{width:38.46%;}
.w6-13{width:46.15%;}
.w7-13{width:53.85%;}
.w8-13{width:61.54%;}
.w9-13{width:69.23%;}
.w10-13{width:76.92%;}
.w11-13{width:84.62%;}
.w12-13{width:92.31%;}

/* main */
#view{
    width: 100%;
    height: 100%;
}

#left {
	width: 160px;
    float: left;
    background-color: hsl(200,5%,80%);
    height:100%;
}
.main{
    margin-left:160px;
}
.leftbox{
    padding:5px 5px 5px 5px;
    background-color: hsl(200,30%,60%);
    margin-top: 20px;
    margin-bottom: 8px;
}
.leftbox:first-child{
    margin-top:0px;
}
#left .view{
    margin:5px 0 5px 0;
}
#left #login-container{
    height: 40px;
}
#left #login-form{
    float: left;
    width:120px;
    height: 100%;
}
#left #login-status{
    float: left;
    width: 40px;
    height: 100%;
}
#left #login-status>div{
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 8px;
    margin:auto;
    width: 30px;
    border-radius: 50%;
}
#left #login-status #unlogged{
    background-color: hsl(40, 30%, 80%);
    border: 1px solid hsl(40, 20%, 70%);
    color: hsl(40, 30%, 25%);
}
#left #login-status #unlogged:hover{
    background-color: hsl(40, 30%, 70%);
}
#left #login-status #logged{
    background-color: hsl(100, 40%, 80%);
    border: 1px solid hsl(100, 30%, 70%);
    color: hsl(100, 30%, 30%);
}
#left #login-status #logged:hover{
    background-color: hsl(100, 40%, 70%);
}
#left #login-status #failed{
    background-color: hsl(0, 40%, 80%);
    border: 1px solid hsl(0, 30%, 70%);
    color: hsl(0, 30%, 30%);
}
#left #login-status #failed:hover{
    background-color: hsl(0, 40%, 70%);
}
#left #login-container label{
    width: 40px;
    height: 48%;
    margin-top:1%;
    margin-bottom:1%;
    font-size: 12px;
    padding-left: 5px;
}
#left #login-container input{
    width: 80px;
    height: 48%;
    margin-top:1%;
    margin-bottom:1%;
    padding-left:3px;
    background-color: hsl(200,20%,95%);
    border-radius: 5px;
    border: 1px solid hsl(200,20%,60%);
}

#left #query-box{
    margin:auto;
    width:150px;
    background-color: hsl(200,20%,95%);
    height: 22px;
    border-radius: 5px;
    border: 1px solid hsl(200,20%,60%);
    font-size: 12px;
    margin-bottom: 5px;
}

#left #query-box #icon{
    float:left;
    width:30px;
    height:22px;
    cursor: pointer;
}
#left #query-box #icon.enable{
    background-color:  hsl(200,20%,95%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#left #query-box #icon.enable:hover{
    background-color: hsl(200,20%,80%);
}
#left #query-box input{
    float:left;
    width: 80px;
    border:none;
    height:20px;
    background-color: hsl(200,20%,95%);
}
#left #query-box #query-type{
    cursor: pointer;
    float:left;
    width:40px;
    height:22px;
    background-color: hsl(200,20%,90%);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#left #query-box #query-type:hover{
    background-color: hsl(200,20%,90%);
    background-color: hsl(200,20%,80%);
}
#left #query-box #query-type.ward{
    background-color: hsl(60,60%,70%);
}
#left #query-box #query-type.doc{
    background-color: hsl(250,60%,80%);
}
#left #query-box #query-type.id{
    background-color: hsl(100,60%,80%);
}
#left #query-list{
    margin: auto;
    width: 150px;
}
#left #query-list div{
    margin: 1px;
    margin-top: 2px;
    float: left;
    font-size:12px;
    padding: 4px 5px 4px 5px;
    border-radius: 5px;
    cursor: pointer;
}
#left #query-list div.ward{
    background-color: hsl(60,60%,70%);
    border:1px solid  hsl(60,60%,50%);
}
#left #query-list div.ward:hover{
    background-color: hsl(60,60%,60%);
}

#left #query-list div.doc{
    background-color: hsl(250,60%,80%);
    border:1px solid  hsl(250,60%,70%);
}
#left #query-list div.doc:hover{
    background-color: hsl(250,60%,70%);
}

#left #patient-list .patient{
    margin: auto;
    margin-top: 1px;
    width:140px;
    background-color: hsl(90,30%,80%);
    border: 1px solid hsl(90,30%,60%);
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
}
#left #patient-list .patient:hover{
    background-color:hsl(90,30%,75%);
}

#left #patient-list .patient .bed,
#left #patient-list .patient .name{
    float:left;
    height: 100%;
    overflow: hidden;
}
#left #patient-list .patient .bed{
    font-size: 14px;
    width: 52px;
    padding-left:2px;
    padding-right: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color:hsl(90,30%,70%);
    text-align: center;
}
#left #patient-list .patient .name{
    font-size: 16px;
    width: 84px;
    text-align: center;
}
#left #patient-list .patient.male{
    background-color: hsl(200,30%,80%);
    border: 1px solid hsl(200,30%,60%);
}
#left #patient-list .patient.male:hover{
    background-color:hsl(200,30%,75%);
}
#left #patient-list .patient.male .bed{
    background-color:hsl(200,30%,70%);
}

#left #patient-list .patient.female{
    background-color: hsl(0,30%,80%);
    border: 1px solid hsl(0,30%,60%);
}
#left #patient-list .patient.female:hover{
    background-color:hsl(0,30%,75%);
}
#left #patient-list .patient.female .bed{
    background-color:hsl(0,30%,70%);
}

.viewButton
{
    float:left;
    padding:5px;
    margin: 5px;
    background-color: hsl(250,40%,85%);
}

.rightbox{
    padding:10px 5px 10px 5px;
    background-color: hsl(200,40%,85%);
    margin:5px 0 5px 0;
}
