body{
    background: hsl(0,0%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y: scroll;
}

.test-button{
    background-color: steelblue;
    padding: 10px;
    border: 1px solid black;
}
#cookie, #content{
    border: 1px solid black;
    padding: 10px;
    white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}