body{
    background: hsl(0,0%,90%);
    font-family: "Microsoft JhengHei","Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-y: scroll;
    font-size:16px;
}

.test-button{
    background-color: steelblue;
    padding: 10px;
    border: 1px solid black;
}
#dev #cookie, #dev #content{
    font-size: 0.6rem;
    border: 1px solid black;
    padding: 10px;
    white-space: pre-wrap;      /* CSS3 */     
    word-wrap: break-word;      /* IE */
}